body{
    background-repeat: no-repeat;
    background-image: url(https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_700/MTkyOTkyMzE2OTQ3MDQ3NjQ1/website-background-templates.webp);
    background-size:cover;
}
main{
    display:grid;
    grid-template-rows: 2fr 6fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    font-family:Arial;
}
.list1{
    padding:15px 8px;
    margin: 15px 8px;
    list-style-type:none;
}
.list1 li{
    display:inline;

}
.list1 li a{
    color:black;
    text-decoration:none;
    text-align:center;
    display:inline;
    padding:8px 8px;
    background-color:#fff;
}
.list1 li a:hover{
    background-color:gold;
}
.list1 .active{
    background-color:orangered;
}
.list1 a:visited{
    color:black;
}
header{
    grid-area: 1/1/span 1/span 3;

}
header img{
    border-radius:60%;
    float:left;
    padding:10px;
    margin:0px;
    width:100px;
    height:50px;
}
.button{
    cursor:pointer;
    border:none;
    color:black;
    padding:8px 8px;
    background-color: white;
}
.button:hover{
    color:#fff;
    background-color:gold;
}


.z1{
    grid-area: 2/1/span 1/span 1;
}
.z1 img{
    width:200px;
    position:relative;
    top:30%;
}
.dioda{
    height:200px;
    position:relative;
    top:30%;
}
.z1 h4{
    text-indent: 20px;
    position:relative;
    padding:8px;
    top:30%;
}
.z2{
    grid-area: 2/2/span 1/span 1;
}
.z2 p{
    font-size:large;
    text-indent: 20px;
    padding:10px;
    margin:10px;
}
.z3{
    grid-area: 2/3/span 1/span 1;
}
.list2{
    list-style-type:none;
    margin: 8px 8px;
}
.list2 li{
    display:block;
}
.list2 li a{
    color:black;
    text-decoration:none;
    display:block;
    padding:5px;
    margin:5px;
    background-color: #fff;
}
.list2 a:hover{
    background-color:gold;
}
.list2 a:visited{
    color:black;
}
.list2 .active{
    background-color:orangered;
}
@keyframes footerAnimation{
    0% {color:red}
    25%{color:orange}
    50%{color:yellow}
    75%{color:rgb(204, 255, 0)}
    100%{color:white}

}
footer{
    grid-area: 3/1/span 1/span 3;
    position:relative;
    top:50%;
    text-align:center;
    animation-name:footerAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}