main{
    width: 100%;
    height: 100%;
    background-color: pink;
    display:grid;
    grid-template-rows:20% 60% 20%;
    grid-template-columns: 15% 70% 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
}
div{
    width:100%;
    height:100%;
    background-color: cyan;
    border:solid;
    border-width: 100%;
    border-spacing: 25px;
    border-style: dotted;
}
.Child1{
    grid-area: 1/1/1/4;
}
.Child11{
    grid-area: 2/1/2/1;
}.Child12{
    grid-area: 2/2/2/2;
}.Child13{
    grid-area: 2/3/2/3;
}
.Child3{
    grid-area: 3/1/3/4;
}