body{
    font-family:Arial;
    background-color: beige;
}
h1{
    color:black;
    font-family: Impact;
    text-align: start;
    text-decoration:underline;
}
th, td {
    color: #7b00ff;
    font-family:Georgia;
    text-align: center;
    border-style:outset;
    border-color:black;
    border-spacing: 15px;
}
th:nth-child(odd), td:nth-child(odd){
    background-color: aqua;
}
tr:nth-child(odd){
    background-color: aqua;
}